# original dataset
*.txt

*.adicht

# autodesk stuff
*.bak

# 3d print
*.stl
*.pwma
*.pwmb

# store
**/.DS_Store

# python compiles
__pycache__/

# videos
*.mp4
*.mov
*.avi
*.flv
*.webm
*.mkv
*.ogg
*.ogv
*.ts
